# Arquivos temporários
**/bin/
**/obj/

# Arquivos de compilação
*.dll
*.exe
*.pdb
*.dll
*.zip
*.suo
*.cache
*.log

# Diretórios do Visual Studio
.vs/
.vscode/

# Dependências do NuGet
packages/
*.nupkg